{% extends 'Front/base.html.twig' %}

{% block metaTitle %}{{ tag.title }}{% endblock %}


{% block main %}
    <p class="page-tag" style="background-color: {{ tag.color }}">{{ tag.title }}</p>
    {% for article in tag.articles %}
        <div class="article">
            <h3><a href="{{ path('articleShow', {'id': article.id}) }}">{{ article.title }}</a></h3>
            <p>{{ article.content }}</p>
        </div>
    {% endfor %}
{% endblock %}



