{% extends 'base.html.twig' %}

{% block metaTitle %}Liste d'articles{% endblock metaTitle %}

{% block main %}

    {% for article in articles %}

        {% if article.isPublished %}
        <article class="article">
            <a href="{{ path('articleShow', {'id': article.id}) }}">
                <h2>{{ article.title }}</h2>
            </a>
            <p>{{ article.content }}</p>
            <p>{{ article.createdAt | date('d-m-y') }}</p>
            <p class="italic">{{ article.category.title }}</p>
        </article>
        {% endif %}

    {% endfor %}

{% endblock main %}