{% extends 'base.html.twig' %}

{% block metaTitle %}{{ article.title }}{% endblock metaTitle %}


{% block main %}
    <div id="page-article">
        <h2>{{ article.title }}</h2>
        <h3>Publié le : {{ article.createdAt | date('d-m-y') }}</h3>
        <p>{{ article.content }}</p>
        <p>Catégorie : {{ article.category.title }}</p>


    </div>





{% endblock main %}